* {
  width: 1000px;
  margin: 0 auto;
}
header{
  height: 200px;
  background-color: #252839;
  padding-top: 0px;
  font-family: broadway;
  text-align: none;
  letter-spacing: 5px;
}
header img {
  position: inherit;
  width: 150px;
  left: 20%;
  top: 10px;
  z-index: 0
}
#olenakutsir {
    position: absolute; 
    padding-bottom: 1%;
    font-family: broadway;
    font-size: 15px;
    font-weight: 200;
    width: 70%;
    top: 20px;
    right: 0;
    height: 10px;
}
#navi {
  position: inherit;  
    padding-bottom: 1%;
    font-family: broadway;
    font-size: 15px;
    font-weight: 200;
    width: 70%;
}